<%-include("./partials/header.ejs")%>

<form class="login" onsubmit="handleSubmit(event)">
  <h2>Login!</h2>
  <input type="text" />
  <input type="password" />
  <input class="button" type="submit" value="Login" />
</form>

<script>
    const handleSubmit = (e) => {
        e.preventDefault();
        fetch('/');
    };
</script>
